
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-field:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .login-card form {
    margin-top: 15px;
  }








  /* index.css  Profile */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .please-login {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #ffe6e6;
    padding: 20px;
    border: 2px solid #ff0000;
    border-radius: 10px;
  }
  
  .welcome-message {
    color: #006400;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #e6ffe6;
    padding: 20px;
    border: 2px solid #006400;
    border-radius: 10px;
  }